.footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 56px;
  padding: 20px 40px;

  // @media (min-width: $tablet-width) {
  //   flex-direction: row;
  //   justify-content: space-between;
  //   padding: 36px 20px 51px 20px;
  //   align-items: center;
  // }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5%;
    padding: 36px 20px 51px 20px;
    justify-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 70px 130px 87px 130px;
    column-gap: 20%;
  }
}

.footer-item {

  &__title {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

    @media (min-width: $desktop-width) {
      font-size: 18px;
    }
  }

  &--academy {
    display: flex;
    column-gap: 15px;
    align-items: center;
  }
}

.footer-socials {

  &__list {
    display: flex;
    column-gap: 15px;
    list-style: none;
  }

  &__item {
    position: relative;
  }

  &__link {
    position: relative;
    display: flex;
    justify-content: center;
    width: 48px;
    height: 48px;
    border: 3px solid $main-gray10;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%);

    &:hover {
      border: 3px solid $main-gray;
    }

    &:active {
      border: 3px solid $main-gray10;

      & .footer-icon {
        opacity: 0.3;
      }
    }
  }
}



.footer__logo {

  &--tablet {
    display: none;

    @media (max-width: $tablet-width-only) {
      display: block;
    }
  }

  &--desktop {
    display: none;

    @media (min-width: $tablet-width-only) {
      display: block;
    }
  }
}

.footer__logo-use {
  fill: black;
}

.footer__logo-use--tablet,
.footer__logo-use--desktop {
  // fill: white;
  color: #D22856;
}

.footer__link-logo:hover .footer__logo-use {
  fill: #D22856;
}

.footer__link-logo:active .footer__logo-use {
  fill: black;
  opacity: 0.3;
}

.footer-item__academy-logo-use {
  fill: $pink;
}

.footer-item__academy-link:hover .footer-item__academy-logo-use {
  fill: $main-gray;
}

.footer-item__academy-link:active .footer-item__academy-logo-use {
  fill: $main-gray;
  opacity: 0.3;
}
