.intro {
  position: relative;
  background-image: url("/source/img/back-mobile.png");
  background-size: cover;
  background-position: 50% 10%;
  color: $basic-white;
  padding-top: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    background-image: url("/source/img/back-tablet.png");
    display: grid;
    grid-template-columns: 4fr 5fr;
    padding-top: 212px;
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    background-image: url("/source/img/back-desktop.png");
  }

  // &::after {
  //   content: "";
  //   position: absolute;
  //   z-index: 0;
  //   background-image: url("/source/img/phone.png");
  //   background-position: center;
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   width: 320px;
  //   height: 286px;
  //   top: 27%;
  // }

  &__title {
    box-sizing: border-box;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 320px;
    padding: 0 40px;
    z-index: 9;

    @media (min-width: $tablet-width) {
      margin-bottom: 39px;
      font-size: 40px;
      // max-width: 300px;
    }

    @media (min-width: $desktop-width) {
      font-size: 50px;
    }
  }

  &__wrapper {
    position: relative;
    background-color: $main-gray;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 28px 20px;
    z-index: 0;

    &::after {
      content: "";
      position: absolute;
      z-index: 0;
      background-image: url("/source/img/phone-mobile.png");
      background-repeat: no-repeat;
      width: 320px;
      height: 286px;
      top: -286px;

      @media (min-resolution: 2dppx) {
        background-image: url("/source/img/phone-mobile@2x.png");
        background-size: contain;
      }

      @media (min-width: $tablet-width) {
        background-image: url("/source/img/phone-tablet.png");
        background-size: cover;
        width: 660px;
        height: 545px;
        top: auto;
        left: 0;
        z-index: -1;
        bottom: 0px;

        @media (min-resolution: 2dppx) {
          background-image: url("/source/img/phone-tablet@2x.png");
          background-size: contain;
        }
      }

      @media (min-width: $desktop-width) {
        background-image: url("/source/img/phone-desktop.png");
        width: 1050px;
        height: 645px;
        left: 29%;

        @media (min-resolution: 2dppx) {
          background-image: url("/source/img/phone-desktop@2x.png");
          background-size: contain;
        }
      }
    }

    @media (min-width: $tablet-width) {
      background-color: transparent;
      align-items: flex-start;
      padding: 0 20px;
      // max-width: 300px;
      grid-column: 1 / 2;
    }

    @media (min-width: $desktop-width) {
      padding: 0 110px;
    }
  }

  &__description {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
    z-index: 2;

    @media (min-width: $tablet-width) {
      margin: 0 auto;
      margin-bottom: 119px;
    }

    @media (min-width: $desktop-width) {
      font-size: 18px;
    }
  }
}

.intro-button {
  box-sizing: border-box;
  border: 3px solid $basic-white;// Проблема.
  border-radius: 29px;
  // padding: 18px 35px; // -3
  padding: 12px 35px;
  margin: 0 auto;
  margin-bottom: 32px;
  min-width: 280px;
  z-index: 2;

  @media (min-width: $tablet-width) {
    padding: 12px 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 12px 20px;
    margin-bottom: 67px;
  }

  &__description {
    font-weight: 700;
    line-height: 18px;
    font-size: 18px;

    @media (min-width: $desktop-width) {
      font-size: 21px;
    }
  }
}

.devices {
  display: flex;
  gap: 35px;
  margin: 0 auto;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 58px;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__link {

    &--iphone {
      background-image: url("/source/img/svg/apple-logo.svg");
      background-position: center;
      background-repeat: no-repeat;
      width: 47px;
      height: 56px;
    }

    &--android {
      background-image: url("/source/img/svg/android-logo.svg");
      background-position: center;
      background-repeat: no-repeat;
      width: 43px;
      height: 47px;
    }

    &--windows {
      background-image: url("/source/img/svg/microsoft-logo.svg");
      background-position: center;
      background-repeat: no-repeat;
      width: 44px;
      height: 41px;
    }
  }
}

