// *Нервное ХАХХХАХАИХИИХХВХИХАХАИХХИХААААААААААААААА*

.lottery {

  &__title {
    background-image: url("/source/img/back-mobile.png");
    background-size: cover;
    background-position: 50% 10%;
    font-size: 24px;
    font-weight: 300;
    color: $basic-white;
    padding: 102px 46px 51px 46px;
    text-align: center;

    @media (min-width: $tablet-width) {
      background-image: url("/source/img/back-tablet.png");
      font-size: 50px;
      padding: 191px 46px 74px 46px;
    }

    @media (min-width: $desktop-width) {
      background-image: url("/source/img/back-desktop.png");
      padding: 191px 146px 74px 146px;
    }
  }

  &__description-group {
    padding-top: 54px;

    @media (min-width: $tablet-width) {
      margin-bottom: 82px;
      padding-top: 100px;
    }
  }

  &__description {
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    padding: 0 20px;

    @media (min-width: $tablet-width) {
      font-size: 18px;
    }


    &--second {
      display: none;

      @media (min-width: $tablet-width) {
        display: block;
      }
    }
  }
}

.form {
  box-sizing: border-box;
  background-color: $basic-white;
  // padding-top: 54px;

  @media (min-width: $tablet-width) {
    // padding: 0 20px;
    padding: 0 3%;
    // padding-top: 100px;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
    padding: 0 10%;
  }

  &__fieldset {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    row-gap: 30px;
    border: none;

    &:nth-child(2n) {
      background-color: $gray-light;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 50px;

      &:nth-child(2n) {
        border: 2px solid $gray-table-border;
        background-color: $basic-white;
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 46px;
    order: 6;

    @media (min-width: $tablet-width) {
      flex-direction: row;
      justify-content: space-between
    }

    @media (min-width: $desktop-width) {
      grid-column: 1 / -1;
    }
  }

  &__wrapper-description {
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
  }

  &__span {
    color: $pink;

    &--delete {

      @media (min-width: $tablet-width) {
        display: none;
      }
    }
  }
}

.form-button {
  box-sizing: border-box;
  background-color: $green;
  padding: 23px 45px;
  border-radius: 2px;

  &:hover {
    background-color: $green-darker;
  }

  &:active .form-button__description {
    opacity: 0.3;
  }

  &:disabled {
    background-color: $gray-table-border;
  }

  &__description {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: $basic-white;
  }
}

.form-fieldset {
  position: relative;
  padding: 42px 22px;

  @media (min-width: $tablet-width) {
    // padding: 42px 60px;
    padding: 42px 8%;

    // &:nth-child(2n-1) {
    //   padding: 42px 0 0 0;
    //   padding: 0;
    // }

    &--name {
      order: 1;
      padding: 0;
    }

    &--application {
      order: 2;
    }

    &--info {
      border: 2px solid $gray-table-border;
      order: 3;

      @media (min-width: $desktop-width) {
        grid-column: 1 / -1;
        flex-direction: row;
        column-gap: 5%;
      }
    }

    &--advance {
      order: 4;

      @media (min-width: $desktop-width) {
        grid-column: 1 / -1;
      }
    }

    &--emotions {
      order: 5;
      border: 2px solid $gray-table-border;

      @media (min-width: $desktop-width) {
        grid-column: 1 / -1;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 38px;
    list-style: none;

    &--advance {
      @media (min-width: $desktop-width) {
        // flex-direction: row;
        // flex-wrap: wrap;
        display: grid;
        grid-template-columns: 260px 260px 260px;
        column-gap: 5%;
        margin: 0 auto;
      }

      // @media (min-width: 1800px) {
      //   grid-template-columns: 260px 260px 260px 260px;
      // }
    }
  }

  &__legend {
    position: relative;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    color: $pink;
    margin-bottom: 44px;
    top: 42px;
    text-align: center;

    @media (min-width: $tablet-width) {
      top: 0;
      margin-bottom: 0;
      padding: 0 30px;
    }

    &--info {
      display: none;

      @media (min-width: $tablet-width) {
        display: block;
      }
    }
  }

  &__textarea {
    box-sizing: border-box;
    font-size: 18px;
    padding: 15px;
    border: 2px solid $gray-table-border;
    width: 100%;
  }
}

.fieldset-group {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &--info {
    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  }

  &__label {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 30px;
    color: $pink;
    margin-left: 21px;

    @media (min-width: $tablet-width) {
      margin-right: 20px;
      margin-left: 0;

      &--phone {
        margin: 10px 0 0 20px;
      }

      &--mail {
        margin: 10px 0 0 20px;
      }
    }
  }

  &__input-wrapper {
    width: 100%;

    @media (min-width: $tablet-width) {

      &::before {
        content: "";
        position: absolute;
        background-color: $gray-table-border;
        background-repeat: no-repeat;
        background-position: center;
        width: calc(70px - 2px * 2);
        height: calc(70px - 2px * 2);
        z-index: 20;
        right: 2px;
        top: 2px;
      }

      &--phone {
        &::before {
          background-image: url("/source/img/svg/phone-icon.svg");
        }
      }

      &--mail {
        &::before {
          background-image: url("/source/img/svg/mail-icon.svg");
        }
      }
    }
  }

  &__input {
    position: relative;
    box-sizing: border-box;
    border: 2px solid $gray-table-border;
    border-radius: 2px;
    padding: 18px calc(70px + 20px) 18px 20px;
    font-size: 18px;
    line-height: 30px;
    width: 100%;

    &:focus {
      border: 2px solid $pink;
    }

    &:hover {
      border: 2px solid $main-gray;
    }
  }
}

.fieldset-item {

  &__label {
    position: relative;
  }

  &__description { // Изменить для каждой твари.

    &--checkbox {
      margin-left: calc(35px + 22px);
    }

    &--radio {
      margin-left: calc(37px + 31px);
    }
  }

  &__input[type="checkbox"] + .fieldset-item__mark--checkbox {
    position: absolute;
    content: "";
    background-image: url("/source/img/svg/checkbox.svg");
    width: calc(35px + 2px * 2); // Борт, ебать его в рот.
    height: calc(35px + 2px * 2);
  }

  &__input[type="checkbox"]:checked + .fieldset-item__mark--checkbox::before {
    position: absolute;
    content: "";
    background-image: url("/source/img/svg/checkbox-on.svg");
    width: calc(35px + 2px * 2);
    height: calc(35px + 2px * 2);
  }

  &__input[type="radio"] + .fieldset-item__mark--radio {
    position: absolute;
    content: "";
    background-image: url("/source/img/svg/radio.svg");
    width: calc(37px + 2px * 2); // Ещё один борт, ебать его в рот too.
    height: calc(37px + 2px * 2);
  }

  &__input[type="radio"]:checked + .fieldset-item__mark--radio::before {
    position: absolute;
    content: "";
    background-image: url("/source/img/svg/radio-on.svg");
    width: calc(37px + 2px * 2);
    height: calc(37px + 2px * 2);
  }
}

