.modal-section {

  &__title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: $basic-black;
  }

  &__description {
    font-size: 14px;
    line-height: 24px;
  }
}

.modal-button {
  background-color: $green;
  padding: 23px 20px;
  border-radius: 2px;
  width: 276px;

  &__description {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: $basic-white;
  }
}
