.research {
  position: relative;
  display: none;
  z-index: 5;

  @media (min-width: $tablet-width) {
    background-color: $basic-white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 138px;
  }

  @media (min-width: $desktop-width) {
    background-color: $gray-light;
    padding: 115px 166px 120px 0;
    margin-bottom: 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 24px;
    grid-column: 2 / -1;
  }

  &__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: $basic-black;
  }

  &__description {
    font-size: 14px;
    line-height: 24px;
  }

  &__link {
    font-size: 14px;
    line-height: 24px;
    color: $pink;
  }
}







