.reviews-slider {

  &__blockquote {
    display: flex;
    flex-direction: column;
  }

  &__quote {
    line-height: 30px;
  }

  &__cite {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    font-style: normal;
    color: $basic-black;
    margin-bottom: 31px;
  }

  &__description {
    font-size: 14px;
    line-height: 30px;
  }
}


