.slider-pagination {
  display: flex;
  column-gap: 19px;
  list-style: none;

  &__button {
    background-color: $main-gray30;
    width: 6px;
    height: 6px;
    border-radius: 50%;

    &:hover {
      background-color: $main-gray60;
    }

    &:active {
      background-color: $main-gray10;
    }

    &--current {
      background-color: $basic-white;
      outline: 3px solid $main-gray;

      &:hover {
        background-color: inherit;
      }
    }
  }

}


