*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans";
  font-size: 18px;
  color: $main-gray;

}

img {
  max-width: 100%;
  height: auto;
}

input::placeholder,
textarea::placeholder {
  font-size: 18px;
  line-height: 30px;
  color: $main-gray;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  background: none;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.main-background {
  background-image: url("/source/img/back-desktop.png");
}
