// global Уроды ебаные.

@import 'global/variables.scss';
@import 'global/global.scss';
@import 'global/fonts.scss';

// blocks

@import 'blocks/header.scss';
@import 'blocks/header-navigation.scss';
@import 'blocks/intro.scss';
@import 'blocks/information.scss';
@import 'blocks/research.scss';
@import 'blocks/slider-pagination.scss';
@import 'blocks/reviews.scss';
@import 'blocks/price.scss';
@import 'blocks/contacts.scss';
@import 'blocks/footer.scss';

